[setting]
url = https://chen310.github.io/music/albums/
timestamp = 1654680642

[ablums]
count = 70
a1 = 张哲瀚-光
a2 = 张哲瀚-环绕
a3 = 鞠婧祎-过去完成时
a4 = 孟美岐-爱·不爱
a5 = 吴宣仪-WeWereInLove
a6 = 黄明昊
a7 = 黄明昊
a8 = 吴宣仪-25
a9 = 朱正廷-ChapterZ
a10 = 朱正廷-TheWinterLight
a11 = 朱正廷-EMPTYSPACE
a12 = 王一博-无感
a13 = 毕雯珺-欲控
a14 = 李润祺-做勇敢的大人
a15 = 李润祺-茫
a16 = 范丞丞-I’mHere
a17 = 范丞丞-LikeAFan
a18 = 黄新淳-近你环行日记
a19 = 王子异-Candysweater
a20 = 黑胶VIP
a21 = 王晨艺-EVENWONG
a22 = IU-에잇
a23 = 嘉羿-罗盘
a24 = 毕雯珺-如果
a25 = 范丞丞-EMERGING
a26 = 朱正廷-陷
a27 = 王一博-我的世界守则
a28 = 程潇-聚焦-X
a29 = 胡春杨-CanYouRemember
a30 = 胡烨韬-UGLY
a31 = 范丞丞-咦？
a32 = 张语格-Heaven
a33 = GENERATIONSfromEXILETRIBE-雨のち晴れ
a34 = 李润祺-微风吹
a35 = 戴萌-Somewhere
a36 = SNH48吴哲晗-废墟纪元
a37 = 周深-化身孤岛的鲸
a38 = 水果星球-FromEarthtoSpace太空放风
a39 = 李润祺-请杀死我的浪漫
a40 = 李权哲-我要我们在一起
a41 = 王一博-Fire
a42 = NINEONE#/BULL-Goodbye
a43 = 周深-无限
a44 = 朱一龙-重启
a45 = 李常超
a46 = 吴哲晗-废墟纪元
a47 = 林彦俊-原来我很爱你
a48 = Kaz-WhiteStallion
a49 = 吴哲晗-Don’tletmedown
a50 = 周深-夏日友晴天
a51 = 付思超-IfI’mWithYou
a52 = 孙楠/周深-中国加油歌
a53 = 丁泽仁-Circle
a54 = 李鑫一-失序抵抗
a55 = 莫寒-夏天的故事
a56 = Kaz-Drownfeat.HikariMitsushima
a57 = 糖醋排骨-青梅屿
a58 = 朱正廷-待签收
a59 = KBShinya-青衫薄
a60 = 张继科-心藏
a61 = 毕雯珺-GoodnightToYou
a62 = 张杰-你值得更好的
a63 = 丁泽仁-OpenYour爱
a64 = 罗云熙-等风停
a65 = 华晨宇-好想爱这个世界啊
a66 = 理塘丁真-风的使者
a67 = 鹿晗-SlowRide
a68 = 秦霄贤-是云白
a69 = SNH48袁一琦-水蒸气
a70 = SNH48沈梦瑶-Whisper

[vip]
day = 0

