[setting]
url = https://chen310.github.io/music/albums/
timestamp = 1628198556

[ablums]
count = 35
a1 = 张哲瀚-光
a2 = 张哲瀚-环绕
a3 = 鞠婧祎-过去完成时
a4 = 孟美岐-爱·不爱
a5 = 吴宣仪-WeWereInLove
a6 = 黄明昊
a7 = 黄明昊
a8 = 吴宣仪-25
a9 = 朱正廷-ChapterZ
a10 = 朱正廷-TheWinterLight
a11 = 朱正廷-EMPTYSPACE
a12 = 王一博-无感
a13 = 毕雯珺-欲控
a14 = 李润祺-做勇敢的大人
a15 = 李润祺-茫
a16 = 范丞丞-I’mHere
a17 = 范丞丞-LikeAFan
a18 = 黄新淳-近你环行日记
a19 = 王子异-Candysweater
a20 = 黑胶VIP
a21 = 王晨艺-EVENWONG
a22 = IU-에잇
a23 = 嘉羿-罗盘
a24 = 毕雯珺-如果
a25 = 范丞丞-EMERGING
a26 = 朱正廷-陷
a27 = 王一博-我的世界守则
a28 = 程潇-聚焦-X
a29 = 胡春杨-CanYouRemember
a30 = 胡烨韬-UGLY
a31 = 范丞丞-咦？
a32 = 张语格-Heaven
a33 = GENERATIONSfromEXILETRIBE-雨のち晴れ
a34 = 李润祺-微风吹
a35 = 戴萌-Somewhere

[vip]
day = 0

