[setting]
url = https://chen310.github.io/music/albums/
timestamp = 1625929079

[ablums]
count = 15
a1 = 张哲瀚-光
a2 = 张哲瀚-环绕
a3 = 鞠婧祎-过去完成时
a4 = 孟美岐-爱·不爱
a5 = 吴宣仪-WeWereInLove
a6 = 黄明昊
a7 = 黄明昊
a8 = 吴宣仪-25
a9 = 朱正廷-ChapterZ
a10 = 朱正廷-TheWinterLight
a11 = 朱正廷-EMPTYSPACE
a12 = 王一博-无感
a13 = 毕雯珺-欲控
a14 = 李润祺-做勇敢的大人
a15 = 李润祺-茫

[vip]
day = 0

